body
{
    margin:0px;
    padding:0px;
    background-color: rgb(235, 177, 177);
    
}

.eyes{
    top:50%;
     transform: translateY(-50%);
    width:100%;
    position:absolute;
    text-align:center;
}
.eye{
    width:240px;
    height:120px;
    background-color: aqua;
    display: inline-block;
    border-radius: 50%;
    margin:50px;
    position:relative;
    overflow:hidden;
    box-shadow:5px 5px 5px #888888;
    }
.balls{
    width:40px;
    height:40px;
    background-color:brown;
    border-radius:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    border:10px solid rosybrown;
    top:50%;
    left:50%;
    box-shadow:5px 5px 10px  #5d7777;
}